<?xml version="1.0" encoding="gb2312" standalone="yes" ?>
<root>
    <database>
        <dbip dbip="192.168.20.222"/>        <!--数据库ip-->
        <dbport dbport="5432"/>
        <dbname dbname="vs_ieye"/>            <!--数据库名-->
        <dbusername dbusername="postgres"/>
        <dbpassword dbpassword="123456"/>
    </database>
    <storage>
        <Threadcount Threadcount="10"/>    <!--存储线程数-->
        <dbip dbip="192.168.5.4"/>        <!--数据库ip-->
        <dbport dbport="5432"/>
        <dbname dbname="vag"/>            <!--数据库名-->
        <dbusername dbusername="postgres"/>
        <dbpassword dbpassword="123456"/>
    </storage>

    <redis name="redis1" ip="192.168.20.251" port="6379"/>

    <activemq name="activemq1" ip="192.168.20.222" port="61616"/>

    <MicroService ip="192.168.20.251" port="2379"/>
    <server>
        <localip ip="192.168.20.134"/>
        <grpcttl grpcttl="30"/><!-- etcd老化时间 -->
        <rms>
            <local port="6602" httpport="8001"/>      <!--local info-->
        </rms>
        <vms>
            <local port="6604"/>      <!--local info-->
        </vms>
        <onvifvag>
            <local port="6610"/>      <!--local info-->
        </onvifvag>
        <sipvag>
            <local port="6620"/>      <!--local info-->
            <Sip id="34020000002000000003" port="7710"/>      <!--sip info-->
        </sipvag>
        <vcxvag>
            <local port="6630"/>      <!--local info-->
        </vcxvag>
        <ixvrvag>
            <local port="6640"/>      <!--local info-->
        </ixvrvag>
        <cloud2vag>
            <local port="6650"/>      <!--接入云 info-->
        </cloud2vag>
        <cvsavag>
            <local port="6660"/>      <!--local info-->
        </cvsavag>
        <cloud>
            <local port="6670"/>      <!--上云 info-->
            <Plat4.0 username="admin" password="vorx"/>
        </cloud>
        <kps>
            <local port="6606" devport="6674"/>
        </kps>
        <amag>
            <local port="6680"/>      <!--local info-->
        </amag>
        <amag>
            <local port="6690"/>      <!--local info-->
        </amag>
        <ems>
            <local port="6710"/>
            <alarmBell name="alarmBell" ip="192.168.20.253" port="8080" url="sendMessage"/>
        </ems>
        <blg>
            <local port="6720"/>
            <email protocol="SMTP" server="smtp.163.com" domain="163.com"/>
            <email port="25" userName="18611813097" password="vorx123"/>
            <aliyunSms product="Dysmsapi" domain="dysmsapi.aliyuncs.com"/>
            <aliyunSms accessKeyId="LTAIEctvEq6hfNqb" accessKeySecret="o49v0PVHSIt5ZMCqGHPKQ1dDMJZnfS"/>
            <aliyunSms templateCode="SMS_123735642" signName="蛙视"/>
        </blg>
        <iaag>
            <local port="6730"/>
            <stream type="1" package="5" trans="1"/>
            <record path="H:/AlarmRecord" timer="180"/>    <!--path: 录像存储路径 timer：录像存储时间-->
            <pic path="H:/AlarmPic" saveday="0"/>    <!--path: 报警图片存储路径 saveday:图片保存天数，为0时，不删除报警图片-->
        </iaag>
        <siovag>
            <local port="6740" devport="6742"/>
        </siovag>
        <nms>
            <local port="6800"/>
        </nms>
        <pems>
            <local port="6900"/>
        </pems>
        <cms>
            <local grpcport="6500" sipport="7700" sipid="34020000002000000001"/>
        </cms>
        <log>
            <local port="6510"/>
        </log>
        <stream>
            <local portbegin="20000" portend="30000"/>
        </stream>
    </server>
</root>



